Repository dluks82/todo-and-devops: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(api): listen on 0.0.0.0; verify dist at build; use absolute cmd path
  apps/api/Dockerfile
  apps/api/src/index.ts
Due: eslint --fix, prettier --write

ci(deploy): use post for coolify webhook and validate secrets
  .github/workflows/coolify-deploy.yml
Due: prettier --write

build(docker): move dist check after copies and use relative path
  apps/api/Dockerfile
Due: none

fix(build): corrigir configuração do build para funcionamento no docker
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/routes.ts
  apps/api/tsconfig.json
  package.json
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/tsconfig.json
  scripts/test-build.sh
  tsconfig.json
Due: eslint --fix, prettier --write

refactor: simplificação da estrutura do projeto de monorepo para API única
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  Dockerfile
  README.md
  apps/api/Dockerfile
  apps/api/jest.config.js
  apps/api/package.json
  apps/api/src/__tests__/health.test.ts
  apps/api/src/__tests__/routes.test.ts
  apps/api/src/__tests__/setup.ts
  apps/api/tsconfig.json
  commitlint.config.js
  docs/MIGRATION.md
  eslint.config.js
  jest.config.js
  package.json
  packages/shared/jest.config.js
  packages/shared/package.json
  packages/shared/src/__tests__/index.test.ts
  packages/shared/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/__tests__/health.test.ts
  src/__tests__/routes.test.ts
  src/__tests__/setup.ts
  src/index.ts
  src/routes.ts
  src/types.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: restauração de ESLint, Prettier, Husky e Commitlint
  .eslintrc.js
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.js
  jest.config.js
  package.json
  src/__tests__/health.test.ts
  src/__tests__/routes.test.ts
  src/__tests__/setup.ts
Due: eslint --fix, prettier --write

fix: otimização da configuração de TypeScript e ESLint
  .eslintrc.js
  jest.config.js
  tsconfig.json
  tsconfig.test.json
Due: eslint --fix, prettier --write

fix: corrigir moduleResolution no tsconfig.json para NodeNext
  tsconfig.json
Due: prettier --write

feat: configurar path aliases para melhorar resolução de módulos
  jest.config.js
  package.json
  src/__tests__/health.test.ts
  src/__tests__/routes.test.ts
  src/index.ts
  src/routes.ts
  tsconfig.json
Due: eslint --fix, prettier --write

ci: atualização dos workflows para a nova estrutura do projeto
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: prettier --write

ci: atualização dos workflows para usar yarn
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: prettier --write

build: atualizar configuração do eslint e corrigir husky
  .eslintrc.js
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  commitlint.config.js
  eslint.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

build: adicionar configuração do yarn
  .yarnrc.yml
Due: prettier --write

build: corrigir configuração do yarn
  .yarnrc
  .yarnrc.yml
  yarn.lock
Due: prettier --write

build: ajustar configurações de lint e typescript
  commitlint.config.js
  eslint.config.js
  jest.config.js
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write

docs: atualizar documentação para a nova estrutura do projeto
  README.md
  docs/CICD.md
  docs/DEPLOY.md
  docs/DEVELOPMENT.md
Due: prettier --write

fix(tests): corrige tipagem e erros de lint nos testes de rotas
  src/__tests__/routes.test.ts
Due: eslint --fix, prettier --write

fix: corrige tipagem, lint e formatação nos arquivos do projeto
  jest.config.js
  src/__tests__/health.test.ts
  src/index.ts
  src/routes.ts
Due: eslint --fix, prettier --write

refactor(build): ajustar para yarn
  .github/workflows/ci.yml
  Dockerfile
Due: prettier --write

chore: migrate to ESM + tsx, update Docker/Compose and CI
  .env.example
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/coolify-deploy.yml
  Dockerfile
  README.md
  commitlint.config.cjs
  docker-compose.yml
  eslint.config.cjs
  jest.config.cjs
  package-lock.json
  package.json
  src/__tests__/health.test.ts
  src/__tests__/routes.test.ts
  src/index.ts
  src/routes.ts
  src/server.ts
  src/types.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(docker): ajustar dev e compose
  Dockerfile
  docker-compose.yml
Due: prettier --write

chore(ci): ajustar webhook do Coolify (checagem e header Authorization)
  .github/workflows/coolify-deploy.yml
Due: prettier --write

chore(env,api): atualizar porta padrão e resposta raiz
  .env.example
  src/__tests__/routes.test.ts
  src/server.ts
Due: eslint --fix, prettier --write

ci: unificar pipeline (build/push + deploy Coolify no mesmo workflow)
  .github/workflows/ci.yml
  .github/workflows/coolify-deploy.yml
Due: prettier --write

docs: remover docs desatualizados
  README.md
  docs/CICD.md
  docs/CONTRIBUTING.md
  docs/COOLIFY.md
  docs/DEVELOPMENT.md
  docs/MIGRATION.md
  docs/TESTING.md
  docs/TYPES.md
Due: prettier --write

docs(readme): adicionar badges
  README.md
Due: prettier --write

docs: atualiza documentação com caminhos de imagens Docker corretos e portas
  README.md
  package.json
Due: prettier --write

feat: adiciona suporte a variáveis de ambiente com dotenv
  package-lock.json
  package.json
  src/server.ts
Due: eslint --fix, prettier --write

feat: melhora configuração Docker para usar variáveis de ambiente via .env
  Dockerfile
  docker-compose.yml
Due: prettier --write

feat: adiciona scripts de conveniência para operações Docker
  package.json
Due: prettier --write

docs: adiciona guia de desenvolvimento e atualiza README
  README.md
  docs/DESENVOLVIMENTO.md
Due: prettier --write

fix: corrige configuração Docker para garantir instalação do dotenv
  Dockerfile
  docker-compose.yml
Due: prettier --write

docs: atualiza nome do autor no README
  README.md
Due: prettier --write

chore: adiciona notificações no Telegram
  .github/workflows/telegram-pr-notify.yml
Due: prettier --write

feat(ci): adiciona notificações do Telegram para PR, merge, testes, deploy e resumo do pipeline
  .github/workflows/ci.yml
  .github/workflows/telegram-notify.yml
  .github/workflows/telegram-pr-notify.yml
Due: prettier --write

feat(ci): adiciona notificações do Telegram para PR, merge, testes, deploy e resumo do pipeline
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/coolify-deploy.yml
  .github/workflows/telegram-notify.yml
Due: prettier --write

docs(ci): adiciona comentários explicativos sobre uso de secrets
  .github/workflows/ci.yml
Due: prettier --write

fix: melhora ícones das notificações via Telegram para melhor identificação visual
  .github/workflows/ci.yml
  .github/workflows/coolify-deploy.yml
  .github/workflows/telegram-notify.yml
Due: prettier --write

fix: corrige emojis com problemas de exibição nas notificações do Telegram
  .github/workflows/ci.yml
  .github/workflows/coolify-deploy.yml
  .github/workflows/telegram-notify.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: **/*.{ts,tsx,js,jsx,mjs,cjs}) or (any of: **/*.{json,md,yaml,yml,css,scss,html})
